
.resetPassword {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(239, 162, 162);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h5 {
    font-size: 1.2rem;
    font-family: poppins,sans-serif;
    color: rgb(67, 66, 66);
}